.main-wrapper {
  width: 100%;
  height: 100%;


  .header-wrapper {
    height: 10%;
    width: 100%;

    .name-wrapper {
      height: 100%;
      width: 30%;

      .title {
        height: 100%;
        width: 100%;
        font-size: 30px;
        text-align: center;
      }
    }

    .acc-wrapper {
      height: 100%;
      width: 70%;

      .acc-forms {
        height: 100%;
        width: 100%;

        .login-wrapper {
          height: 50%;
          width: 100%;
        }

        .register-wrapper {
          height: 50%;
          width: 100%;
          position: relative;

          .form-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 20%;
            right: 0;
            text-align: center;

            .reg-button {
              width: 90%;
            }
          }
        }
      }

      .acc-home {
        height: 100%;
        width: 100%;

        .username-wrapper {
          width: 80%;
          height: 100%;

          .username {
            height: 100%;
            width: 100%;
            font-size: 25px;
            text-align: center;
            font-style: italic;
          }
        }

        .logout-wrapper {
          width: 20%;
          height: 100%;
          position: relative;

          .form-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;

            .form-input {
              width: 90%;
            }
          }
        }
      }
    }
  }

  .choice-wrapper {
    height: 20%;
    width: 100%;


    .events-choice {
      height: 100%;
      width: 50%;
      background-color: yellow;
    }

    .places-choice {
      height: 100%;
      width: 50%;
      background-color: green;
    }
  }

  .choice-wrapper-big {
    height: 90% !important;
  }

  .content-wrapper {
    height: 70%;
    width: 100%;


    .filter-wrapper {
      height: 100%;
      width: 20%;
      background-color: blue;
    }

    .item-wrapper {
      height: 100%;
      width: 80%;
      background-color: purple;
    }
  }
}
