<div class="wrapper main-wrapper">
  <div class="wrapper header-wrapper">
    <div class="wrapper name-wrapper">
      <h1 class="title">Title</h1>
    </div>
    <div class="wrapper acc-wrapper">
      <div class="acc-forms" [class.hidden]="!cookieNotSet()">
        <div class="wrapper login-wrapper">
          <app-login></app-login>
        </div>
        <div class="wrapper register-wrapper">
          <div class="form-wrapper">
           <button name="Submit" class="reg-button" value="Register" (click)="toRegister()">Регистрация</button>
          </div>
       </div>
      </div>
      <div class="acc-home" [class.hidden]="cookieNotSet()">
        <div class="wrapper username-wrapper">
          <h2 class="username">Добро пожаловать, {{currentUser}}</h2>
        </div>
        <div class="wrapper logout-wrapper">
          <div class="form-wrapper">
           <button name="Submit" class="form-input button logout-button" value="Logout" (click)="logout()">Выход</button>>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper choice-wrapper">
    <div class="wrapper events-choice"></div>
    <div class="wrapper places-choice"></div>
  </div>
  <div class="wrapper content-wrapper">
    <div class="wrapper filter-wrapper"></div>
    <div class="wrapper item-wrapper"></div>
  </div>
</div>

