<div class="wrapper main-wrapper" [class.shadowed]="regComp.open || subComp.open">
  <div class="bordered-wrapper header-wrapper">
    <div class="wrapper name-wrapper">
      <h1 class="title">Events n' Places</h1>
    </div>
    <div class="bordered-wrapper acc-wrapper">
      <div class="acc-forms" [class.hidden]="!cookieNotSet()">
        <div class="wrapper login-wrapper">
          <app-login></app-login>
        </div>
        <div class="wrapper register-wrapper">
          <div class="form-wrapper">
           <button name="Submit" class="reg-button" value="Register" (click)="toRegister()">Регистрация</button>
          </div>
       </div>
      </div>
      <div class="acc-home" [class.hidden]="cookieNotSet()">
        <div class="wrapper username-wrapper">
          <h2 class="username">Добро пожаловать, {{currentUser}}</h2>
        </div>
        <div class="wrapper logout-wrapper">
          <div class="form-wrapper">
            <button name="Submit" class="form-input button logout-button" value="Logout" (click)="logout()">Выход</button>>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bordered-wrapper choice-wrapper" [class.choice-wrapper-big]="state==''">
    <div class="bordered-wrapper events-choice hoverable" (click)="setState('events')">
      <div class="choice-wrapper">
        <h2 class="choice-text">Мероприятия</h2>
      </div>
    </div>
    <div class="bordered-wrapper places-choice hoverable" (click)="setState('places')">
      <div class="choice-wrapper">
        <h2 class="choice-text">Помещения</h2>
      </div>
    </div>
  </div>
  <div class="bordered-wrapper content-wrapper" [class.hidden]="state==''">
    <div class="wrapper item-wrapper">
      <div class="wrapper item" [class.hidden]="state!='events'">
        <app-event></app-event>
      </div>
      <div class="wrapper item" [class.hidden]="state!='places'">
        <app-place></app-place>
      </div>
    </div>
  </div>
</div>
<div class="reg-wrapper" [class.hidden]="!regComp.open">
  <app-register></app-register>
</div>
<div class="subscribtion-wrapper" [class.hidden]="!subComp.open">
  <app-subscribe></app-subscribe>
</div>

