<div class="wrapper form-login">
  <div class="wrapper l-form">
    <div class="form-wrapper">
      <input class="form-input" type="text" [(ngModel)]="user.username" placeholder="login" required="">
    </div>
  </div>
  <div class="wrapper l-form">
    <div class="form-wrapper">
      <input class="form-input" type="password" [(ngModel)]="user.password" placeholder="password" required="">
    </div>
  </div>
  <div class="wrapper l-button">
    <div class="form-wrapper">
      <button name="Submit" class="form-input button login-button" [class.button-unready]="!readyToSend()" [disabled]="!readyToSend()" value="Login" (click)="login()">Вход</button>>
    </div>
  </div>
</div>
