/* You can add global styles to this file, and also import other style files */

button {
  cursor: pointer;
}

.button-unready {
  cursor: default;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 0 0 0;
}

.wrapper {
  display: inline-block;
  font-size: 0;
  float: left;
}

.bordered-wrapper {
  @extend .wrapper;

  -webkit-box-shadow:inset 0px 0px 0px 1px grey;
  -moz-box-shadow:inset 0px 0px 0px 1px grey;
  box-shadow:inset 0px 0px 0px 1px grey;
}

.hidden {
  display: none;
}

.notclickable {
  cursor: default !important;
}

.notclickable:hover {
  background-color: white !important;
}
